## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates

## NuGet
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

## Visual Studio
.vs/
*.csproj.user

## Rider
.idea/

## OS
Thumbs.db
.DS_Store
